<div class="card archivo-narrow-unique">
  <img src="../../../assets/body-as-channel.png" class="card-img-top abtmcrd" alt="I'm just a channel">
  <div class="card-body">
    <p class="card-text">Hey, I'm Pranav,</p>
     <p>Engineer + Designer + Programmer.</p>
    <p>VISION: Human acceleration.</p>
    <p>MISSION: Navigate, choose or reject the required tools,build and repeat.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link" onclick="redirectfn()">Another link</a>
  </div>
</div>
