  <!-- <div class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-about-section></app-about-section>
    </div>
    <div class="col">
      <app-tiles></app-tiles>
    </div>
    <div class="col">
      <app-tiles></app-tiles>
    </div>
  </div> -->
    <div class="nvbr">
      <app-navbar></app-navbar>
    </div>
    <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 mb-3">
        <app-about-section></app-about-section>
      </div>
      <div class="col-md-4 mb-3">
        <app-blogs></app-blogs>
      </div>
      <div class="col-md-4 mb-3">
        <app-projects></app-projects>
      </div>
    </div>
  </div>
    <app-footer></app-footer>
