.nvbr {
  margin-bottom: 20px;
}

.floating-button img {
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  border-radius: 50%; /* Circular icon */
}
.floating-button {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px;  /* Adjust as needed */
  width: 40px;  /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 50%; /* Circular button */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for a floating effect */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Pointer cursor on hover */
  z-index: 1000; /* Ensure it stays on top */
}
