<div class="card archivo-narrow-unique">
  <img src="../../../assets/Projects-logo.png" class="card-img-top abtmcrd" alt="I'm just a channel">
  <div class="card-body">
    <p class="card-text cstmprjct">PROJECTS + RESEARCH: </p>
    <p>Tinkering around with Maths, Physics, Electronics, Biology, Chemistry,
      Web development, Robotics, Aritficial Intelligence, Deep tech, Space tech.</p>
    <p>Here's everything I'm building.</p>
  </div>
  <div class="card-body">
    <button [routerLink]="['/projects']">More Details</button>
  </div>
</div>
